.container{
    display: flex;
    background-color: #9873FF0D;
    align-items: center;
    margin-left: 15px;
}

.header-info{
    padding: 10px;
}

.purple{
    color: #9873FF;
}
.btn-start{
    border: none;
    background-color: #9873FF;
    color: azure;
    padding: 15px;
    border-radius: 8px;
}

.header-img{
    height: 450px;
}


@media screen and (max-width:576px){
    .container{
        flex-direction: column;
    }

    .header-img{
        height: 150px;
        width: 150px;
    }
}